# Ignore from local build
settings.ini
Gemfile.lock
_posts/2022-09-25-notebookwithhtmltable.md
_posts/2022-09-25-notebookwithjavascript.md
_posts/2022-09-25-notebookwithjavascriptusage.mm
_posts/2022-09-25-notebookwithjavascriptusage.md
_posts/2022-09-25-notebookwithjavascript.md
_posts/2022-09-11-preformancestaskbrainstorm.md
_posts/2022-09-02-lists_dictionaries_iterations.md
_posts/2022-08-29-TP120-pythonlists.md
_posts/2022-08-24-pythonquiz.md
_posts/2022-10-03-AP-error_testing.md
_posts/2022-10-18-testing.md
_posts/2022-10-20-api.md
_posts/2022-10-20-desribingjavascriptapi.md
_posts/2022-08-21-firstjupyternotebook.md
_posts/2022-08-24-pythonquiz.md
_posts/2022-08-25-tool_check.md
_posts/2022-11-17-binary8bit.md
_posts/2022-11-17-testingbash.md
_posts/2022-11-18-expressions-and-strings.md
_posts/2022-11-18-testingjava.md
_posts/2022-11-18-testingkernals.md
_posts/2022-11-26-listanditerationhomework.md
_posts/2022-11-27-Unit3.1-3.2notes.md
_posts/2022-11-28-hw.md
_posts/2022-11-28-Unit3.3-3.4notes.md
_posts/2022-11-29-developing-algorithms-js.md
_posts/2022-11-29-Developing-Algorithms.md
_posts/2022-11-29-searching-introduction.md
_posts/2022-11-30-homework.md
_posts/2022-12-01-StudentCopyRandomValues.md
_posts/2022-12-03-libraries-hw.md
_posts/2022-12-06-cbpresentationvocab.md
_posts/2022-12-10-Unit-3-Lesson-16.md
_posts/2022-12-11-Lesson16.md
_posts/2022-12-11-notetemplate.md
_posts/2022-12-12-hw.md
_posts/2022-12-12-unit3lesson16.md
_posts/2022-12-14-117-118-homework.md
_posts/2023-01-10-PBL-model.md
_posts/2023-02-06-createpreformancetaskdrafts.md
_posts/2023-02-07-pythonbackendcpt.md
_posts/2023-03-07-AP-unit2-2.md
*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
*.xml
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__

